<h1>Assignments</h1>


<table class="table table-responsive">
	<thead>
	<tr class="table-primary">
		<th>Assignment Name</th>
		<th>Subject</th>
		<th>Faculty Name</th>
		<th>Submition Date</th>
	</tr>
	</thead>

	<tbody>
	<tr class="table-info">
		<td>Stack</td>
		<td>DS</td>
		<td>Subhan De</td>
		<td class="bg-warning">27th March</td>
	</tr>
	</tbody>


</table>

