<h1>Enrolled Subjects</h1>


<table class=" table table-responsive">
	<thead>
	<tr>
		<th>Subject Name</th>
		<th>Subject Add</th>
		<th>Action</th>
	</tr>
	</thead>

	<tbody>
	<tr>
		<td>Database</td>
		<td>DB</td>
		<td><a class="btn btn-primary" href="/student/subject/add">Add</a></td>
	</tr>
	<tr>
		<td>Compiler Design</td>
		<td>CD</td>
		<td><a class="btn btn-primary" href="/student/subject/add">Add</a></td>
	</tr>
	<tr>
		<td>Data Structure</td>
		<td>DS</td>
		<td><a class="btn btn-danger" href="/student/subject/add">Remove</a></td>
	</tr>
	</tbody>


</table>

