<h1>Enrolled Subjects</h1>


<table class=" table table-responsive">
	<thead>
		<tr>
			<th>Name</th>
			<th>Faculty Name</th>
			<th>Notes</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>DS</td>
			<td>Subhan De</td>
			<td><a href="">DS.pdf</a></td>
		</tr>
	</tbody>


</table>

