<div class="container">
	<div class="card mx-auto mt-5">
		<div class="card-header">Change Password</div>
		<div class="card-body">
			<form action="/faculty/update/change" method="post">

				<div class="form-group">
					<label for="opass">Old Password</label>
					<input  name="opass" class="form-control" id="opass" type="password" aria-describedby="opass" placeholder="Old Password">
				</div>

				<div class="form-group">
					<label for="npass">New Password</label>
					<input  name="npass" class="form-control" id="npass" type="password" aria-describedby="npass" placeholder="New Password">
				</div>

				<div class="form-group">
					<label for="cnpass">Confirm Password</label>
					<input  name="cnpass" class="form-control" id="cnpass" type="password" aria-describedby="cnpass" placeholder="Confirm Password">
				</div>

				<button class="btn btn-primary btn-block" type="submit">Update</button>

			</form>

		</div>
	</div>
</div>