<div class="container">
	<div class="card mx-auto mt-5">
		<div class="card-header">Update Student Info</div>
		<div class="card-body">
			<form action="/faculty/update/info" method="post">

				<div class="form-group">
					<label for="regID">Faculty ID</label>
					<input  name="facultyID" class="form-control" id="facultyID" type="text" aria-describedby="Reg ID" placeholder="Enter Faculty ID">
				</div>

				<button class="btn btn-primary btn-block" type="submit">Update</button>

			</form>

		</div>
	</div>
</div>