{{>home/nav2}}
<div class="container">
   <div id="coming"></div>
    <h3 id=coming class="alert alert-danger"> 404 | Page not found.</h3>
    <img src="/img/404.gif" alt="">
</div>
{{>home/footer2}}