{{>home/nav}} <!--navbar-->
<!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to GITA</h1>
      
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About Us</h2>
            <p>
             Making the web a better place to study is all what we want. This website is going to be with students everytime they need and anywhere they want.Faculties of the college would always be in our heart forever so this would also keep them informed and updated. The moments we had spent in this college will be cherished forever and this website would always be that one important source to keep us connected.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-group"></i></div>
              <h4 class="title"><a href="#portfolio">CLUBS</a></h4>
              <p class="description">coming soon...</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="/event">EVENTS</a></h4>
              <p class="description">Explore the events</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-comments"></i></div>
              <h4 class="title"><a href="/login">FORUM</a></h4>
              <p class="description">Anything you wanna know</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

   
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Services</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href="/comingsoon"><i class="fa fa-group"></i></a></div>
              <h4 class="title"><a href="/comingsoon">Club Activities</a></h4>
              <p class="description">logo needs to change</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href="/event"><i class="fa fa-calendar"></i></a></div>
              <h4 class="title"><a href="/event">Upcoming Events</a></h4>
              <p class="description">logo needs to change</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href="/notice"><i class="fa fa-clipboard"></i></a></div>
              <h4 class="title"><a href="/notice">Notice Board</a></h4>
              <p class="description">logo needs to change</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="">Lecture Notes</a></h4>
              <p class="description">logo needs to change</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-comments"></i></a></div>
              <h4 class="title"><a href="">GITA Forum</a></h4>
              <p class="description">logo needs to change</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-question-circle"></i></a></div>
              <h4 class="title"><a href="">Coming soon</a></h4>
              <p class="description">logo needs to change</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title" id="quote"></h3>
<!--            <p class="cta-text"> - Bejamin Franklin</p>-->
          </div>
          
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      CLUBS
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">CLUBS</h3>
          
        </div>
       

        <div class="row" id="portfolio-wrapper">
          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="/comingsoon">
              <img src="/img/portfolio/sports.jpg" alt="">
              <div class="details">
                <h4>Sports Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web">
            <a href="">
              <img src="/img/portfolio/art.jpg" alt="" >
              <div class="details">
                <h4>Art Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img src="/img/portfolio/film.jpg" alt="">
              <div class="details">
                <h4>Film Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img src="/img/portfolio/dance.jpg" alt="">
              <div class="details">
                <h4>Dance Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img src="/img/portfolio/music.jpg" alt="">
              <div class="details">
                <h4>Music Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web">
            <a href="">
              <img src="/img/portfolio/math.jpg" alt="">
              <div class="details">
                <h4>Math Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img src="/img/portfolio/quiz.jpg" alt="">
              <div class="details">
                <h4>Quiz Club</h4>
                
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img src="/img/portfolio/yoga.png" alt="">
              <div class="details">
                <h4>Yoga Club</h4>
                
              </div>
            </a>
          </div>

         

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description"></p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="pic"><img src="/img/blank.png" alt=""></div>
              <h4>Prof.(Dr.) Manmath Roul</h4>
              <span>Principal</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="pic"><img src="/img/blank.png" alt=""></div>
              <h4>Prof. (Dr.) Tarini Prasad Panigrahy</h4>
              <span>Head Of The Department(CSE)</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="pic"><img src="/img/blank.png" alt=""></div>
              <h4>Prof. Manoj Kumar Sahu</h4>
              <span>Supervisor</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

         
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description"></p>
        </div>
      </div>

<!--      <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>-->

      <div class="container wow fadeInUp">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>GANDHI INSTITUTE FOR TECHNOLOGICAL ADVANCEMENT<br>
                    2nd Floor, Plot No. # 1, 
                    Gopabandhu Nagar, Near D.A.V. Public School,
                    Unit - 8, Bhubaneswar - 751012 Odisha </p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>gita@gita.edu.in</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p> Phone: 0674-2538660 <br>
                    FAX : 0674-2538661</p>
              </div>
            </div>

            <div class="social-links">
              <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>
  {{>home/footer}} <!--footer-->
 
<script>
var div = document.getElementById('quote');
var quotes = [
  'An investment in knowledge pays the best interest.',
  'Develop a passion for learning. If you do, you will never cease to grow.',
  'It is the mark of an educated mind to be able to entertain a thought without accepting it.',
  'In a completely rational society, the best of us would be teachers and the rest of us would have to settle for something less. ',
'Online learning is not the next big thing, it is the now big thing.'
];
    div.style.transitionProperty="blur"

var pos = -1;
    div.innerHTML = quotes[0];
    pos++;
setInterval(function(){
   if (pos >= quotes.length-1) pos = -1;
   pos++;
    
   div.innerHTML = quotes[pos];
}, 5000) // every 5 seconds

</script>