{{>home/nav2}}


 
<div class="container">
	<div id="coming">
		<div class="row">
			<div class="col-10">{{notice.title}}</div>
			<div class="col-2">
				<h3>{{formatDate createdAt}}</h3>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">{{notice.body}}</div>
	</div>
</div>


{{>home/footer2}}