{{>home/nav2}}
<div id=coming class="container"><h3>notice</h3>
    
       
            <div class="card">
             <div class="card-header">
             <a href="/notice/vhjghjghkghk"> 
             <div class="row">
             <div class="col-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              <div class="col-3">date </div>
              </div>
              </a></div> 
            </div>
       
        
    
</div>
{{>home/footer2}}