{{>home/nav2}}
<div id=coming class="container"><h3>Notice Board</h3>
	{{#each notices}}
		<div class="card">
			<div class="card-header">
				<a href="/notice/{{_id}}">
					<div class="row">
						<div class="col-9">{{title}}</div>
						<div class="col-3">{{formatDate createdAt}}</div>
					</div>
				</a>
			</div>
		</div>
	{{/each}}
</div>
{{>home/footer2}}