 <header id="header" class="headers">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/"><img src="/img/logo.png" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
			 <ul class="nav-menu">
				<li class="nav-item active">
					<a  href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				{{!--<li class="nav-item">--}}
					{{!--<a class="nav-link" href="#">About</a>--}}
				{{!--</li>--}}
				{{#if role }}
					{{#if (isAdmin role) }}
						<li class="nav-item">
							<a href="/event/admin/create">Create New Event</a>
						</li>
					{{/if}}
					<li class="nav-item">
						<a  href="/event/logout">Logout</a>
					</li>
				{{else}}
					<li class="nav-item">
						<a  href="/event/login">Login</a>
					</li>
					<li class="nav-item">
						<a  href="/event/register">Register</a>
					</li>
				{{/if}}
				{{!--<li class="nav-item">--}}
					{{!--<a class="nav-link" href="#">Contact</a>--}}
				{{!--</li>--}}
			</ul>
         </nav>
		 </div>
  </header>