<div class="container">
	<div class="card mx-auto mt-5">
		<div class="card-header">Update Student Info</div>
		<div class="card-body">
			<form action="/student/update/info" method="post">

				<div class="form-group">
					<label for="regID">Registration ID</label>
					<input  name="regID" class="form-control" id="regID" type="text" aria-describedby="Reg ID" placeholder="Enter Registration No. ">
				</div>
				<div class="form-group">
					<label for="rollNo">Roll No</label>
					<input  name="rollNo" class="form-control" id="rollNo" type="text" aria-describedby="rollNo" placeholder="Enter Roll No">
				</div>
				<div class="form-group">
					<label for="course">Course Name</label>
					<select onclick="selectCourse(this)" class="form-control" name="course" id="course">
						<option value="B.Tech">B.Tech</option>
						<option value="MCA">MCA</option>
						<option value="MBA">MBA</option>
					</select>
				</div>
				<div id="dbranch" class="form-group">
					<label for="branch">Branch</label>
					<select class="form-control" name="branch" id="branch">
						<option value="Civil">Civil</option>
						<option value="CSE">CSE</option>
						<option value="ECE">ECE</option>
						<option value="EE">EE</option>
						<option value="EEE">EEE</option>
						<option value="ME">ME</option>
					</select>

				</div>
				<div id="dsem" class="form-group">
					<label for="sem">Semester</label>
					<select class="form-control" name="sem" id="sem">
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
						<option value="5th">5th</option>
						<option value="6th">6th</option>
						<option value="7th">7th</option>
						<option value="8th">8th</option>
					</select>
				</div>

				<div id="dmsem" class="form-group">
					<label for="msem">Semester</label>
					<select class="form-control" name="msem" id="msem">
						<option value="1st">1st</option>
						<option value="2nd">2nd</option>
						<option value="3rd">3rd</option>
						<option value="4th">4th</option>
						<option value="5th">5th</option>
						<option value="6th">6th</option>
					</select>
				</div>

				<button class="btn btn-primary btn-block" type="submit">Update</button>

			</form>

		</div>
	</div>
</div>

<script>
	function selectCourse(fn){
		console.log(fn.value);
		if(fn.value === "MBA" || fn.value === "MCA") {
			let dbranch = document.getElementById('dbranch');
			dbranch.style.display = 'none';
			let dsem = document.getElementById('dsem');
			dsem.style.display = 'none';
			let dmsem = document.getElementById('dmsem');
			dmsem.style.display = 'block';
		} else {
			let dbranch = document.getElementById('dbranch');
			dbranch.style.display = 'block';
			let dsem = document.getElementById('dsem');
			dsem.style.display = 'block';
			let dmsem = document.getElementById('dmsem');
			dmsem.style.display = 'none';
		}
	}


	let fn = document.getElementById('course');
	if(fn.value === "MBA" || fn.value === "MCA") {
		let dbranch = document.getElementById('dbranch');
		dbranch.style.display = 'none';
		let dsem = document.getElementById('dsem');
		dsem.style.display = 'none';
		let dmsem = document.getElementById('dmsem');
		dmsem.style.display = 'block';
	} else {
		let dbranch = document.getElementById('dbranch');
		dbranch.style.display = 'block';
		let dsem = document.getElementById('dsem');
		dsem.style.display = 'block';
		let dmsem = document.getElementById('dmsem');
		dmsem.style.display = 'none';
	}

</script>